*,*:before,*:after{
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

@import url(color.css) screen and (color);

html,body{
	height: 100%;
}

.low-res{
	display: none;
}

.wrapper{
	display: flex;
	min-height: 100%;
	overflow: hidden;
	flex-direction: column;
}

.container{
	max-width: 1350px;
	margin: 0px auto;
	padding: 0px 15px;
}

@media (max-width:1200px){
	.container{
		max-width: 1120px;
	}
}
@media (max-width:992px){
	.container{
		max-width: 900px;
	}
}
@media (max-width:767px){
	.container{
		max-width: none;
	}
}


@media (max-width:420px){
	
}

.header {
	background-color: #1f1f1f;

}

.header__row {
	display: flex;
	justify-content: space-between;
	height: 70px;
	align-items: center;
}

.header__logo {
	width: 200px;
	height: 50px;
}

.menu__list {
	display: flex;
}

.menu__list li{
	list-style: none;
	margin: 0px 0px 0px 15px;
}

.menu__link {
	height: 20px;
	width: 100px;
	background-color: #1f1f1f;
	display: block;
	color: white;
	font-size: 20px;
}

.data{
	margin-top: 15px;

	background-color: white;
	border-width: 3px;
	border-style: solid;
	border-color: #ff7d44;
	border-radius: 10px;
}

.inps{
	margin-left: 15px;

	margin-right: 15px;
	margin-bottom: 15px;
}
.inp{
	margin-left: 5px;
	margin-top: 15px;
	border: 1.5px solid #1f1f1f;
	border-radius: 10px;
	height: 45px;
	width: 175px;
	background: transparent;
	text-align: center;
	font-size: 0.9em;
}


.bk{
	background-color: #3b8300;
	color: white;
}
input::placeholder{
	text-align: center;
}

.outputs{
	margin-top: 15px;
	display: 
}

.graph{
	float: left;
	border: 1.5px solid #1f1f1f;
	border-radius: 10px;
	width: 935px;
	height: 510px;
}

.inputs{
	padding-left: 15px;
	float: right;
	border: 1.5px solid #1f1f1f;
	border-radius: 10px;
	width: 375px;
	height: 510px;
}

.info-div {
	margin-top: 5px;
	margin-left: 5px;
	font-size: 25px;
}

.info-title-div{
	margin-top: 5px;
	margin-left: 5px;
	padding-bottom: 30px;
}

.switcher{
	clear: both;
	width: 850px;
	height: 70px;
}

.chart_changer {
	display: inline-block;
	width: 120px;
	margin-top: 10px;
	margin-right: 10px;
	padding: 4px 4px 4px 4px;
	font-size: 16px;
	border: 1.5px solid #1f1f1f;
	border-radius: 10px;
}




/*for legend*/


/**
 * Default styles for the dygraphs charting library.
 */

 .dygraph-legend {
	position: absolute;
	font-size: 14px;
	z-index: 10;
	width: 250px;  /* labelsDivWidth */
	/*
	dygraphs determines these based on the presence of chart labels.
	It might make more sense to create a wrapper div around the chart proper.
	top: 0px;
	right: 2px;
	*/
	background: white;
	line-height: normal;
	text-align: left;
	overflow: hidden;
  }
  
  /* styles for a solid line in the legend */
  .dygraph-legend-line {
	display: inline-block;
	position: relative;
	bottom: .5ex;
	padding-left: 1em;
	height: 1px;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	/* border-bottom-color is set based on the series color */
  }
  
  /* styles for a dashed line in the legend, e.g. when strokePattern is set */
  .dygraph-legend-dash {
	display: inline-block;
	position: relative;
	bottom: .5ex;
	height: 1px;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	/* border-bottom-color is set based on the series color */
	/* margin-right is set based on the stroke pattern */
	/* padding-left is set based on the stroke pattern */
  }
  
  .dygraph-roller {
	position: absolute;
	z-index: 10;
  }
  
  /* This class is shared by all annotations, including those with icons */
  .dygraph-annotation {
	position: absolute;
	z-index: 10;
	overflow: hidden;
  }
  
  /* This class only applies to annotations without icons */
  /* Old class name: .dygraphDefaultAnnotation */
  .dygraph-default-annotation {
	border: 1px solid black;
	background-color: white;
	text-align: center;
  }
  
  .dygraph-axis-label {
	/* position: absolute; */
	/* font-size: 14px; */
	z-index: 10;
	line-height: normal;
	overflow: hidden;
	color: black;  /* replaces old axisLabelColor option */
  }
  
  .dygraph-axis-label-x {
  }
  
  .dygraph-axis-label-y {
  }
  
  .dygraph-axis-label-y2 {
  }
  
  .dygraph-title {
	font-weight: bold;
	z-index: 10;
	text-align: center;
	/* font-size: based on titleHeight option */
  }
  
  .dygraph-xlabel {
	text-align: center;
	/* font-size: based on xLabelHeight option */
  }
  
  /* For y-axis label */
  .dygraph-label-rotate-left {
	text-align: center;
	/* See http://caniuse.com/#feat=transforms2d */
	transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
  }
  
  /* For y2-axis label */
  .dygraph-label-rotate-right {
	text-align: center;
	/* See http://caniuse.com/#feat=transforms2d */
	transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
  }
  
  .legend-div {
	margin-top: 10px;
	margin-left: 5px;
	font-size: 25px;
}

		.modal {
    position: fixed; /* фиксированное положение */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.5); /* цвет фона */
    z-index: 1050;
    opacity: 0; /* по умолчанию модальное окно прозрачно */
    -webkit-transition: opacity 200ms ease-in; 
    -moz-transition: opacity 200ms ease-in;
    transition: opacity 200ms ease-in; /* анимация перехода */
    pointer-events: none; /* элемент невидим для событий мыши */
    margin: 0;
    padding: 0;
}
/* при отображении модального окно */
.modal:target {
    opacity: 1; /* делаем окно видимым */
	  pointer-events: auto; /* элемент видим для событий мыши */
    overflow-y: auto; /* добавляем прокрутку по y, когда элемент не помещается на страницу */
}
/* ширина модального окна и его отступы от экрана */
.modal-dialog {
    position: relative;
    width: auto;
    margin: 10px;
}
@media (min-width: 576px) {
  .modal-dialog {
      max-width: 500px;
      margin: 30px auto; /* для отображения модального окна по центру */
  }
}
/* свойства для блока, содержащего контент модального окна */ 
.modal-content {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    outline: 0;
}
@media (min-width: 768px) {
  .modal-content {
      -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);
      box-shadow: 0 5px 15px rgba(0,0,0,.5);
  }
}
/* свойства для заголовка модального окна */
.modal-header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1px solid #eceeef;
}
.modal-title {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.5;
    font-size: 1.25rem;
    font-weight: 500;
}
/* свойства для кнопки "Закрыть" */
.close {
    float: right;
    font-family: sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
    text-decoration: none;
}
/* свойства для кнопки "Закрыть" при нахождении её в фокусе или наведении */
.close:focus, .close:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    opacity: .75;
}
/* свойства для блока, содержащего основное содержимое окна */
.modal-body {
  position: relative;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 15px;
    overflow: auto;
}
@media (max-width: 1345px){
	.inps{
		margin-left: 30px;
	}

	.inp{
		width: 200px;
		font-size: 0.8em;
	}
	.bk{
		/*margin-top: 15px;*/
		width: 1250px;
		font-size: 1em;
	}
	.graph{
		width: 935px;
	}

	.chart_changer{
		width: 100px;
	}
	.inputs{
		width: 320px;
	}
	.font_size{
		font-size: 20px;
	}
	.legend-div{
		font-size: 20px;
	}
}

@media (max-width: 1319px){
	.inps{
		margin-left: 45px;
	}

	.inp{
		width: 190px;
		font-size: 0.8em;
	}
	.bk{
		/*margin-top: 15px;*/
		width: 1190px;
		font-size: 1em;
	}
	.graph{
		width: 940px;
	}

	.chart_changer{
		width: 100px;
	}
	.inputs{
		width: 320px;
	}
	.font_size{
		font-size: 20px;
	}
	.legend-div{
		font-size: 20px;
	}
}

@media (max-width: 1280px){
	.inps{
		margin-left: 10px;
		margin-right: 10px;
	}

	.inp{
		width: 190px;
		font-size: 0.8em;
	}
	.bk{
		/*margin-top: 15px;*/
		width: 1190px;
		font-size: 1em;
	}
	.graph{
		width: 900px;
	}

	.chart_changer{
		width: 100px;
	}
	.inputs{
		width: 300px;
	}
	.font_size{
		font-size: 20px;
	}
	.legend-div{
		font-size: 20px;
	}
}

@media (max-width:1243px){
	.inps{
		margin-left: 10px;
		margin-right: 10px;
	}

	.inp{
		width: 188px;
		font-size: 0.8em;
	}
	.bk{
		width: 1175px;
		font-size: 1em;
	}
	.graph{
		width: 800px;
	}

	.inputs{
		width: 350px;
	}

	.chart_changer{
		width: 100px;
	}
}

@media (max-width:1232px){
	.inp{
		width: 165px;
		font-size: 0.8em;
	}
	.bk{
		width: 1036px;
		font-size: 1em;
	}
	.graph{
		width: 700px;
	}

	.chart_changer{
		width: 100px;
	}
}

@media (max-width: 1111px){
	.inps{
		margin-left: 30px;
	}

	.inp{
		width: 300px;
		font-size: 0.8em;
	}
	.bk{
		/*margin-top: 15px;*/
		width: 920px;
		font-size: 1em;
	}
	.graph{
		width: 650px;
	}

	.chart_changer{
		width: 100px;
	}
	.inputs{
		width: 320px;
	}
	.font_size{
		font-size: 20px;
	}
	.legend-div{
		font-size: 20px;
	}
}
@media (max-width:1006px){
	.inps{
		margin-left: 30px;
	}

	.inp{
		width: 290px;
		font-size: 0.8em;
	}
	.bk{
		width: 890px;
		font-size: 1em;
	}
	.graph{
		width: 625px;
	}

	.chart_changer{
		width: 100px;
	}
	.inputs{
		width: 320px;
	}
	.font_size{
		font-size: 20px;
	}
	.legend-div{
		font-size: 20px;
	}
}

@media (max-width:993px){
	.inps{
		margin-left: 40px;
	}

	.inp{
		width: 250px;
		font-size: 0.8em;
	}
	.bk{
		width: 770px;
		font-size: 1em;
	}
	.graph{
		width: 600px;
	}

	.chart_changer{
		width: 100px;
	}
	.inputs{
		width: 250px;
	}
	.font_size{
		font-size: 15px;
	}
	.legend-div{
		font-size: 15px;
	}
}

@media (max-width:881px){
	.inps{
		margin-left: 40px;
	}

	.inp{
		width: 250px;
		font-size: 0.8em;
	}
	.bk{
		width: 770px;
		font-size: 1em;
	}
	.graph{
		width: 570px;
	}

	.chart_changer{
		width: 100px;
	}
	.inputs{
		width: 230px;
	}
	.font_size{
		font-size: 15px;
	}
	.legend-div{
		font-size: 15px;
	}
}

@media (max-width:868px){
	.inps{
		margin-left: 40px;
	}

	.inp{
		width: 235px;
		font-size: 0.8em;
	}
	.bk{
		width: 720px;
		font-size: 1em;
	}

	.chart_changer{
		width: 100px;
	}
}

@media (max-width:833px){
	.inps{
		margin-left: 20px;
		margin-right: 20px;
	}

	.inp{
		width: 240px;
		font-size: 0.8em;
	}
	.bk{
		width: 737px;
		font-size: 1em;
	}
	.graph{
		width: 570px;
	}

	.chart_changer{
		width: 100px;
	}
	.inputs{
		width: 200px;
	}
	.font_size{
		font-size: 12px;
	}
	.legend-div{
		font-size: 12px;
	}
}


@media (max-width:800px){
	.inps{
		margin-left: 20px;
		margin-right: 20px;
	}

	.inp{
		width: 231px;
		font-size: 0.8em;
	}
	.bk{
		width: 715px;
		font-size: 1em;
	}
	.graph{
		width: 550px;
	}

	.chart_changer{
		width: 100px;
	}
	.inputs{
		width: 200px;
	}
	.font_size{
		font-size: 12px;
	}
	.legend-div{
		font-size: 12px;
	}
}

@media (max-width:790px){
	main{
		display: none;
	}
	.low-res{
		margin-top: 250px;
		display: block;
		text-align: center;
		font-size: 25px;
	}
}